@* Topaz.Portal/Components/Pages/Entra/EntraTenantShell.razor *@
<div class="row g-3">
    <div class="col-12 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <NavLink class="list-group-item list-group-item-action"
                             href="@OverviewHref"
                             Match="NavLinkMatch.All">
                        Overview
                    </NavLink>

                    <NavLink class="list-group-item list-group-item-action"
                             href="@UsersHref">
                        Users
                    </NavLink>

                    <NavLink class="list-group-item list-group-item-action"
                             href="@GroupsHref">
                        Groups
                    </NavLink>

                    <NavLink class="list-group-item list-group-item-action"
                             href="@ServicePrincipalsHref">
                        Service Principals
                    </NavLink>

                    <NavLink class="list-group-item list-group-item-action"
                             href="@ApplicationsHref">
                        Applications
                    </NavLink>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-9">
        @ChildContent
    </div>
</div>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    private static string OverviewHref => "/entra";
    private static string UsersHref => "/entra/users";
    private static string GroupsHref => "/entra/groups";
    private static string ServicePrincipalsHref => "/entra/service-principals";
    private static string ApplicationsHref => "/entra/applications";
}